:root {
  --main-title-color: #212121;
  --title-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --text-button-first-color: #ffffff;
  --text-button-second-color: #212121;
  --main-button-color-background: #2196f3;
  --secondary-button-color-background: #f5f4fa;
  --primary-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --main-font: 'Roboto', sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-timing: 250ms;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: var(--main-font);
  color: var(--main-title-color);
  background-color: var(--primary-background-color);
}

address {
  font-style: inherit;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  transition: color var(--animation-timing) var(--timing-function);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.btn {
  transition: color var(--animation-timing) var(--timing-function),
    background-color var(--animation-timing) var(--timing-function),
    box-shadow var(--animation-timing) var(--timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--text-button-first-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:active {
  color: var(--text-button-first-color);
  background-color: var(--accent-color);
}

.accent-color {
  color: var(--accent-color);
}

/*--------------header------------------*/

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-header);
  margin-right: 93px;
}

.header-menu-list {
  display: flex;
}

.header-menu-item .current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.header-menu-item:not(:last-child) {
  margin-right: 50px;
}

.header-menu-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}

.header-contacts-links {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: #757575;
  transition: fill var(--animation-timing) var(--timing-function);
}

.link:hover .header-icon,
.link:focus .header-icon {
  fill: var(--accent-color);
}

/*-----------------main-page----------------------*/

/*hero*/

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-img.jpg');
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  min-width: 600px;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--title-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
}

/*description*/

.description-list {
  display: flex;
}

.description-item {
  width: 270px;
}

.description-item:not(:last-child) {
  margin-right: 30px;
}

.description-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*works*/

.works-section {
  padding-top: 0;
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  min-width: 376px;
  margin-bottom: 50px;
}

.works-list {
  display: flex;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.works-thump {
  position: relative;
}

.works-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

/*our-team*/

.our-team-section {
  background-color: var(--third-background-color);
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  min-width: 264px;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.our-team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-articles {
  padding: 30px 0;
}

.our-team-masters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team-profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 206px;
  min-height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  transition: background-color var(--animation-timing) var(--timing-function);
}

.social-icon {
  fill: #afb1b8;
  transition: fill var(--animation-timing) var(--timing-function);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

.social-links:hover .social-icon,
.social-links:focus .social-icon {
  fill: #ffffff;
}

/* clients */

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-around;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-links {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--animation-timing) var(--timing-function);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--animation-timing) var(--timing-function);
}

.clients-links:hover,
.clients-links:focus {
  border-color: var(--accent-color);
}

.clients-links:hover .clients-icon,
.clients-links:focus .clients-icon {
  fill: var(--accent-color);
}

/*------------------portfolio----------------------*/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  border: tan;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-button-color-background);
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 370px;
  height: 404px;
}

.project-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.project-links {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #eeeeee;
  transition: box-shadow var(--animation-timing) var(--timing-function);
}

.project-links:hover,
.project-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thump {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(294px);
  transition: transform var(--animation-timing) var(--timing-function);
}

.project-links:hover .project-overlay,
.project-links:focus .project-overlay {
  transform: translateY(-0);
}

.project-articles {
  padding: 20px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*------------------footer--------------------*/

.footer {
  padding: 60px 0;
  background-color: var(--second-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

.footer-right {
  min-width: 206px;
  min-height: 80px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-footer);
}

.footer-address {
  min-width: 230px;
  min-height: 80px;
}

.footer-contacts-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-map {
  color: var(--title-color);
}

.footer-contacts-links {
  color: rgba(255, 255, 255, 0.6);
}

.social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
}

.social-list-footer {
  display: flex;
  justify-content: center;
}

.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-links-footer {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--animation-timing) var(--timing-function);
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-links-footer:hover,
.social-links-footer:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-timing) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--animation-timing) var(--timing-function);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}
